<div class="mdl-layout-spacer"></div>
<div class="mdl-grid">
    
  <div class="mdl-cell mdl-cell--8-col">
    <div class="mdl-grid mdl-grid--nesting">
      <div class="mdl-cell mdl-cell-4">
          <img src="../assets/images/thermometer.png" class="thermometer">
      </div>
      <div class="mdl-cell mdl-cell-2">
          50 °C
      </div>
    </div>
    <br>
    <div class="mdl-grid mdl-grid--nesting">
        <div class="mdl-cell mdl-cell-4">
            <img src="../assets/images/battery.png" class="battery">
        </div>
        <div class="mdl-cell mdl-cell-2">
            75  %
        </div>
    </div>
    <br>
      <div class="mdl-grid mdl-grid--nesting">
          <div class="mdl-cell ">
              <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" routerLink="statistics">
                Estadisticas
              </button>
          </div>
          <div class="mdl-cell ">
              <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" routerLink="reports">
                Resporte
              </button>
          </div>
        </div>
  </div>
  
  
  
  <div class="mdl-cell mdl-cell-4-col">
    <img src="../assets/images/solar-panel.png" class="device">
    <br>
    <table class="mdl-data-table mdl-js-data-table">
      <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric">Caracteristica</th>
          <th class="mdl-data-table__cell--non-numeric">Propiedad</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">Tarjeta</td>
          <td class="mdl-data-table__cell--non-numeric">Arduino Mega</td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">Modulo Wifi</td>
          <td class="mdl-data-table__cell--non-numeric">ESP8266</td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">Caracteristica1</td>
          <td class="mdl-data-table__cell--non-numeric">Propiedad1</td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">Caracteristica2</td>
          <td class="mdl-data-table__cell--non-numeric">Propiedad2</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>