<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
            
            <app-charts></app-charts>
            <h2>Estadisticas</h2>
    </div>

</div>
<div class="mdl-grid">
        <div class="mdl-cell mdl-cell--6-col" id ="start" >
          <h4>Fecha inicial</h4>
          <input id="date" type="date"[(ngModel)]="startDate">
          <input id="time" type="time"[(ngModel)]="startTime">
        </div>
        <div class="mdl-cell mdl-cell--6-col" id ="end">
            <h4>Fecha final</h4>
          <input id="date" type="date" [(ngModel)]="endDate">
          <input id="time" type="time"[(ngModel)]="endTime">
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"(click)="send()">
              enviar
            </button>
        </div>

</div>
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--4-col">
        <h4><img src="../assets/images/solar-panel2.png" class="irradiance">Irradiancia</h4>
        <table class="mdl-data-table mdl-js-data-table">
                <thead>
                  <tr>
                    <th>Integral</th>
                    <th>Max</th>
                    <th>Min</th>
                    <th>Avg</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td >123</td>
                    <td>25</td>
                    <td>49021</td>
                    <td>123</td>
                  </tr>
                  <tr>
                    <td >123</td>
                    <td>32</td>
                    <td>10258</td>
                    <td>123</td>
                  </tr>
                  <tr>
                    <td >123</td>
                    <td>29</td>
                    <td>12359</td>
                    <td>123</td>
                  </tr>
                </tbody>
              </table>
    </div>
    <div class="mdl-cell mdl-cell--4-col">
            <h4><img src="../assets/images/windmill.png" class="windmill">Viento</h4>
            <table class="mdl-data-table mdl-js-data-table">
                    <thead>
                      <tr>
                        <th>Max</th>
                        <th>Min</th>
                        <th>Avg</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td >123</td>
                        <td>25</td>
                        <td>49021</td>
    
                      </tr>
                      <tr>
                        <td >123</td>
                        <td>32</td>
                        <td>10258</td>

                      </tr>
                      <tr>
                        <td >123</td>
                        <td>29</td>
                        <td>12359</td>

                      </tr>
                    </tbody>
                  </table>
    </div>
    <div class="mdl-cell mdl-cell--4-col">
            <h4><img src="../assets/images/thermometer.png" class="thermometer">Temperatura</h4>
            <table class="mdl-data-table mdl-js-data-table">
                    <thead>
                      <tr>
                        <th>Max</th>
                        <th>Min</th>
                        <th>Avg</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td >123</td>
                        <td>25</td>
                        <td>49021</td>
                      </tr>
                      <tr>
                        <td >123</td>
                        <td>32</td>
                        <td>10258</td>
                      </tr>
                      <tr>
                        <td >123</td>
                        <td>29</td>
                        <td>12359</td>
                      </tr>
                    </tbody>
                  </table>
    </div>
</div>
