h2{
    text-align: center
}
.windmill {
    width: 50px;
    height: 50px;
  }
.irradiance {
    width: 50px;
    height: 50px;
  }
.thermometer{
    width: 50px;
    height: 50px;
}
#start{
    margin-top:auto;
    margin-bottom:auto;
    text-align:center;
}
#end{
    margin-top:auto;
    margin-bottom:auto;
    text-align:center;
}
