<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Solic</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link" href="">Quienes Somos</a>
        <a class="mdl-navigation__link" href="">Servicios</a>
        <a class="mdl-navigation__link" href="">Contacto</a>
        
      </nav>
    </div>
  </header>
  <main class="mdl-layout__content">
    <div class="page-content">
      <!-- contenido -->
      <div class="mdl-cell mdl-cell--12-col" id="welcome">
        <h2>Bienvenido</h2>
        <h4>Solic</h4>
      </div>
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col">
              <h2 class="section-title text-center"><span class="mdl-color-text--indigo">|</span>Quienes somos<span class="mdl-color-text--indigo">|</span></h2>
        </div>
        <div class="mdl-cell mdl-cell--12-col">
          <h2 class="section-title text-center"><span class="mdl-color-text--indigo">|</span> Servicios <span class="mdl-color-text--indigo">|</span></h2>

        </div>
        <div class="mdl-cell mdl-cell--4-col">
            <div class="mdl-card">
                <div class="mdl-card__title">
                  <h2 class="mdl-card__title-text">Estadisticas</h2>
                </div>
                <div class="mdl-card__media">
                  <img src="../assets/images/estadisticas.jpg" width="220" height="140" border="0" alt="" style="padding:20px;">
                </div>
                <div class="mdl-card__supporting-text">
                  This text might describe the photo and provide further information, such as where and
                  when it was taken.
                </div>
                <div class="mdl-card__actions">
                  <a href="(URL or function)">Mas informacion</a>
                </div>
              </div>
        </div>
        <div class="mdl-cell mdl-cell--4-col">
            <div class="mdl-card">
                <div class="mdl-card__title">
                  <h2 class="mdl-card__title-text">Reportes</h2>
                </div>
                <div class="mdl-card__media">
                  <img src="../assets/images/reportes.png" width="220" height="140" border="0" alt="" style="padding:20px;">
                </div>
                <div class="mdl-card__supporting-text">
                  This text might describe the photo and provide further information, such as where and
                  when it was taken.
                </div>
                <div class="mdl-card__actions">
                  <a href="(URL or function)">Mas informacion</a>
                </div>
              </div>
        </div>
        <div class="mdl-cell mdl-cell--4-col">
            <div class="mdl-card">
                <div class="mdl-card__title">
                  <h2 class="mdl-card__title-text">Datos</h2>
                </div>
                <div class="mdl-card__media">
                  <img src="../assets/images/datos.jpg" width="220" height="140" border="0" alt="" style="padding:20px;">
                </div>
                <div class="mdl-card__supporting-text">
                  This text might describe the photo and provide further information, such as where and
                  when it was taken.
                </div>
                <div class="mdl-card__actions">
                  <a href="(URL or function)">Mas informacion</a>
                </div>
              </div>
        </div>

        <div class="mdl-cell mdl-cell--12-col">
          <h2 class="section-title text-center"><span class="mdl-color-text--indigo">|</span> Conócenos <span class="mdl-color-text--indigo">|</span></h2>
        </div>
        <div class="mdl-cell mdl-cell--12-col">
          <h5 class="text-center">
            Conoce a nuestro equipo de trabajo.
          </h5>
        </div>
          <div class="mdl-cell  mdl-cell--4 ">
            <figure class="profile-card">
              <div class="profile-image"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample83.jpg" alt="sample47" /></div>
              <figcaption>
                <h3>Ana Cano</h3>
                <p>Estudiante Ing. Quimica</p>
                <div class="icons"><a href="#"><i class="ion-social-facebook"></i></a>
                  <a href="#"> <i class="ion-social-twitter"></i></a>
                  <a href="#"> <i class="ion-social-tumblr"></i></a>
                </div>
              </figcaption>
            </figure>
          </div>
          <div class="mdl-cell  mdl-cell--4">
            <figure class="profile-card">
              <div class="profile-image"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample47.jpg" alt="sample83" /></div>
              <figcaption>
                <h3>Milton Fonseca</h3>
            
                <p>Estudiante Ing. Electronica</p>
                <div class="icons"><a href="#"><i class="ion-social-facebook"></i></a>
                  <a href="#"> <i class="ion-social-twitter"></i></a>
                  <a href="#"> <i class="ion-social-tumblr"></i></a>
                </div>
              </figcaption>
            </figure>
          </div>
          <div class="mdl-cell  mdl-cell--4">
            <figure class="profile-card">
              <div class="profile-image"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample47.jpg" alt="sample70" /></div>
              <figcaption>
                <h3>Santiago Ortiz</h3>
                
                <p>Estudiante Ing. Electronica</p>
                <div class="icons"><a href="#"><i class="ion-social-facebook"></i></a>
                  <a href="#"> <i class="ion-social-twitter"></i></a>
                  <a href="#"> <i class="ion-social-tumblr"></i></a>
                </div>
              </figcaption>
            </figure>
          </div>
          <div class="mdl-cell  mdl-cell--4 ">
            <figure class="profile-card">
              <div class="profile-image"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample47.jpg" alt="sample47" /></div>
              <figcaption>
                <h3>Leonardo Suarez</h3>
                
                <p>Estudiante Ing. Quimica</p>
                <div class="icons">
                  <a href="#"><i class="ion-social-facebook"></i></a>
                  <a href="#"> <i class="ion-social-twitter"></i></a>
                  <a href="#"> <i class="ion-social-tumblr"></i></a>
                </div>
              </figcaption>
            </figure>
          </div>
          <div class="mdl-cell  mdl-cell--4 ">
            <figure class="profile-card">
              <div class="profile-image"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample47.jpg" alt="sample47" /></div>
              <figcaption>
                <h3>Luigi Salamanca</h3>
                
                <p>Estudiante Diseño Industrial</p>
                <div class="icons">
                  <a href="#"><i class="ion-social-facebook"></i></a>
                  <a href="#"> <i class="ion-social-twitter"></i></a>
                  <a href="#"> <i class="ion-social-tumblr"></i></a>
                </div>
              </figcaption>
            </figure>
          </div>
          <div class="mdl-cell  mdl-cell--4 ">
            <figure class="profile-card">
              <div class="profile-image"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample47.jpg" alt="sample47" /></div>
              <figcaption>
                <h3>Victor Ramirez</h3>
                
                <p>Estudiante Ing. Sistemas y Computacion</p>
                <div class="icons">
                  <a href="#"><i class="ion-social-facebook"></i></a>
                  <a href="#"> <i class="ion-social-twitter"></i></a>
                  <a href="#"> <i class="ion-social-tumblr"></i></a>
                </div>
              </figcaption>
            </figure>
          </div>
          <div class="mdl-cell  mdl-cell--4">
            <figure class="profile-card">
              <div class="profile-image"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample47.jpg" alt="sample83" /></div>
              <figcaption>
                <h3>Jonathan Ortiz</h3>
              
                <p>Estudiante Ing. Sistemas y Computacion</p>
                <div class="icons">
                  <a href="#"><i class="ion-social-facebook"></i></a>
                  <a href="#"> <i class="ion-social-twitter"></i></a>
                  <a href="#"> <i class="ion-social-tumblr"></i></a>
                </div>
              </figcaption>
            </figure>
          </div>
      </div>
    </div>



    
  </main>
  <footer class="mdl-mega-footer mdl-color--grey-700">
    <div class="mdl-mini-footer__left-section">
      <div class="mdl-logo">Title</div>
      <ul class="mdl-mini-footer__link-list">
        <li><a href="#">Help</a></li>
        <li><a href="#">Privacy & Terms</a></li>
      </ul>
    </div>
  </footer>

</div>
 

  




